:root {
	--Qsz: 50%;
	--phone_sz: 800px;
}

h1,h2,h3{
	text-align: center;
}

:root,* {
	transition: all 1s cubic-bezier(.2, .8, .2, .8);
	box-sizing: Border-box;
	font-family: "Microsoft JhengHei";
}

html {
	width: 100%;
	height: 100%;
}

.box{
	/*background-color: #000a;*/
	/*border:#fff 4px solid;*/
	color: #fff;
	/*border-radius: 8px;*/
}
body {
	margin: 0;
	/*background-color: #000;*/
	background-color: #1a224b;
	color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding:0em;
	font-size: 22px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	align-items: center
}


.header {
	max-height: 10%;
	max-width: calc(100% - 2em);
	width: -moz-fit-content;
	width: fit-content;
	height: fit-content;
	margin:1em;
}

main {
	width: 100%;
	height: 90%;
	flex-grow: 1;
	overflow: hidden;
	padding:1em;
}

div{
	border-radius: 8px;
}

a,a:visited,a:active,a:hover{
	color:#0ff;
}

.op,
.form,
.res {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.hide.op,
.hide.form,
.hide.res {
	height: 0;
}

.hide#res_div{
	transition: all 1s cubic-bezier(.2, .8, .2, .8);
	width: 0em;
	overflow:hidden;
}

#res_div{
	box-sizing: border-box;
	width: 75%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	height: 75%;
	align-items: center;
}

.op{
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.form {
	/* width: 100%; */
	/* position: relative; */
	/* display: flex; */
	overflow: auto;
}

.res {
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

footer {
	width: auto;
	height: min-content;
	text-align: center;
	padding: .5em;
	margin: .5em;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-evenly;
	width: -webkit-fill-available;
}

.form_sub{
	transition: all 1s cubic-bezier(.2, .8, .2, .8);
}

.Q {
	/* position: absolute; */
	/* z-index: 1; */
	/*background-color: #0f08;*/
	display: flex;
	padding: 0.5em;
	flex-direction: column;
	justify-content: center;
}

.Q>*{
	padding: 1em;
	/* display: flex; */
	overflow: auto;
	/* max-height: 100%; */
	/* min-height: 50%; */
	height: auto;
	width: 100%;
	transition: all 1s cubic-bezier(.2, .8, .2, .8);
}

.A {
	/*background-color: #f008;*/
	z-index:2;
	/* position: absolute; */
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.A>*{
	display: flex;
	overflow: auto;
	max-height: 100%;
	/* min-height: 50%; */
	height: auto;
	width: 100%;
	transition: all 1s cubic-bezier(.2, .8, .2, .8);
	flex-direction: column;
}

.neon_border{
	border: .1em solid #FAC;
	box-shadow: 0 0 1em 0em #FAC, inset 0 0 1em 0em #FAC;
	margin: 1em;
	background-color: #FAC6;
}

#st_btn{
	min-width: 20%;
}

#res_div.hide_res_pic{
	height: 5em;
	overflow: hidden;
	width: 75%;
}

#res_div.hide_res_pic.hide{
	height: 5em;
	overflow: hidden;
	width: 0;
}

.res_img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 8px;
	width: -moz-fit-content;
	width: fit-content;
	height: fit-content;
}

#Qnum{
	text-align: center;
}

.bg{
	background-image: url(./bg.png);
}

/*.hide_content{
	max-height: 0;
	width: 0;
}*/

@media only screen and (max-width:800px) {

	/*MO*/
	.Q {
		width: 50%;
		height: 100%;
	}

	.A {
		width: 50%;
		height: 100%;
	}

	.form_sub{
		width: 160%;
		height: 100%;
		display: flex;
		align-content: center;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.btn{
		padding: .25em;
		margin: .25em;
		font-size: 22px;
		border-radius: 8px;
		background-color: #e9e8dc;
	}

}

@media only screen and (min-width:800px) {

	/*PC*/
	.Q {
		height: 100%;
		width: var(--Qsz);
	}

	.A {
		height: 100%;
		width: calc(100% - var(--Qsz));
	}

	.form_sub{
		width: 100%;
		height:100%;
		display: flex;
		align-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.btn{
		padding: .25em;
		margin: .5em;
		font-size: 22px;
		border-radius: 8px;
		background-color: #e9e8dc;
	}

}